/* Mobile Styles */
.block.icon-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 10px 0;
}

.block.icon-card > :only-child {
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
}

.icon-card-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    gap: 15px;
}

/* .icon-card-item:hover {
  transform: translateY(-5px);
} */

.icon-wrapper {
    flex-shrink: 0;
    width: 42px;
}

.icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-content {
    display: flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    margin: 0;
    font-family: var(--font-primary);
    font-size: unset;
}

.icon-card-title {
    margin: 0;
    color: var(--color-primary-black);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
}

.icon-card-description {
    font-size: 14px;
    color: var(--color-text-primary);
    margin: 0;
    line-height: 1.4;
    font-weight: var(--font-weight-light);
}

/* Desktop Styles */
@media (width >= 1024px) {
    .block.icon-card {
        grid-template-columns: repeat(5, 1fr);
        gap: 24px;
        padding: 24px 0;
    }
}

@media (width <= 768px) {
    .block.icon-card {
        padding: 30px 0 0;
        gap: 15px 10px;
    }

    .icon-wrapper {
        width: 30px;
    }

    .icon-card-title {
        font-size: 14px;
    }

    .icon-card-item {
        gap: 10px;
    }

    .edumo-page .block.icon-card {
        align-items: flex-start;
    }
}
