.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* styles classes */
.columns.blog-details-price-red-col div,
.columns.blog-details-price-green-col div{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.columns.blog-details-price-red-col div > div,
.columns.blog-details-price-green-col div > div{
  flex: unset;
}

.columns.blog-details-price-red-col div > div > *,
.columns.blog-details-price-green-col div > div > *{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-dark-gray-1);
}

.columns.blog-details-price-red-col div > div:last-child p:first-child,
.columns.blog-details-price-green-col div > div:last-child p:first-child{
  color: var(--color-dark-gray-1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.columns.blog-details-price-green-col div > div:last-child p:last-child{
  color: var(--color-success);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.columns.blog-details-price-red-col div > div:last-child p:last-child{
  color: var(--color-error);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.columns.blog-details-price-red-col div > div:last-child,
.columns.blog-details-price-green-col div > div:last-child{
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

@media (width <= 768px) {
  .columns.blog-details-price-red-col div,
  .columns.blog-details-price-green-col div{
    flex-direction: column;
    align-items: flex-start;
  }

  .columns.blog-details-price-red-col div > div > *,
  .columns.blog-details-price-green-col div > div > *{
    font-size: 14px;
  }

  .columns.blog-details-price-red-col div > div:last-child,
  .columns.blog-details-price-green-col div > div:last-child{
    flex-direction: row;
  }

  .columns.blog-details-price-red-col div > div:last-child p:first-child,
  .columns.blog-details-price-green-col div > div:last-child p:first-child{
    font-size: 12px;
    line-height: 18px; 
  }

  .columns.blog-details-price-red-col div > div:last-child p:last-child,
  .columns.blog-details-price-green-col div > div:last-child p:last-child{
    font-size: 12px;
  }
}